

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif ;
}

.block {
 
    display:flex; 
    justify-content:space-between;
    width:100%;
    max-width:900px;
    padding-top: 100px;
    
}

h2 {
   padding-top: 30px; 
   padding-bottom: 15px;
   margin-top: 40px;
   text-align: left;
    
}
span {
    display: block;
    font-size: 18px;
    padding:20px 0 10px 0 ;
}


p{
    display: block;
    font-size: 15px;
    
    
}
.content {
    display:flex; 
    flex-direction:column;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;

}

img {
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
    width: 300px;
    
}

.price{ 
    font-size: 26px;
    margin-top: 80px;
    
}

.buy{
    max-width: 320px;
    display:flex; 
    justify-content: space-between;
    
    align-items: center;
    
}

 
    
    .button{
    background:white;
    border: 2px solid #F05A22;
    color:#F05A22;
    padding: 10px 25px;
    text-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 20px;
    
}

.primary {
   
    color:white;
    border: 2px solid #F05A22;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    background:#F05A22;
    
    }